body {
  background-color: #111;
}

h1, h3 {
  font-family: 'Poiret One', cursive;
}

#button-wrapper {
  margin-bottom: 10px;
}

  #button-wrapper button {
    border-radius: 0px;
    width: 200px;
    font-family: 'Poiret One';
    font-size: 25px;
    padding: 0;
    font-weight: bold;
  }
