<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
  </head>

  <body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="elvis-logo">
          <img src="/elvis.png" alt="Elvis" />
        </a>
        <h1>JAILHOUSE</h1>
        <h3>Rockwear</h3>

        <!--  SOCIAL MEDIA LINKS -->
        <div id="social-media-wrapper" class="row">
          <div class="col-md-12 col-sm-3 col-sm-offset-5 col-xs-8 col-xs-offset-3">
            <ul class="social-media">
              <li class="social-media-item">
                <div class="social-media-item-wrapper">
                  <span class="fa fa-whatsapp social-icon"> </span>
                  <span class="social-text">(51) 9999-9999</span>
                </div>
              </li>

              <li class="social-media-item">
                <div class="social-media-item-wrapper">
                  <span class="fa fa-facebook social-icon"> </span>
                  <span class="social-text">/jailhouserw</span>
                </div>
              </li>

              <li class="social-media-item">
                <div class="social-media-item-wrapper">
                  <span class="fa fa-instagram social-icon"> </span>
                  <span class="social-text">@jailhouserw</span>
                </div>
              </li>
            </ul>
          </div>

        </div> <!-- SOCIAL MEDIA LINKS -->

      </div>
    </div>

  </body>
</html>
