<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>

  <body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="elvis-logo">
          <img src="/elvis.png" alt="Elvis" />
        </a>
        <h1>JAILHOUSE</h1>
        <h3>Rockwear</h3>
      </div>
    </div>

  </body>
</html>
